<div *ngIf="authentErrorMsg" class="alert alert-danger">
	<fa name="exclamation-triangle" size="2x"></fa>
	<span> {{authentErrorMsg}} </span>
</div>

<mat-card>
  
 
  <mat-card-title>Sign In</mat-card-title>
  
   <mat-card-content>
     <form class="form-container" [formGroup]="loginForm" (ngSubmit)="loginHttp()">
     
      <mat-form-field>
        <input matInput placeholder="Username" formControlName="usernameField" required>
        <mat-error *ngIf="formCont.usernameField.invalid">
        <!-- && (formCont.usernameField.dirty || formCont.usernameField.touched) -->
          {{getErrorMessage('usernameField')}}
        </mat-error>
      
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Password" formControlName="passwordField" type="password" required>
        <mat-error *ngIf="formCont.passwordField.invalid">
          {{getErrorMessage('passwordField')}}
        </mat-error>
      </mat-form-field>
    
    <mat-card-actions>
    <button type="submit" [disabled]="loading || loginForm.invalid" mat-raised-button color="primary">Login</button>
     <fa *ngIf="loading" name="spinner" animation="pulse" size="4x"></fa>
    </mat-card-actions>

    </form>
    </mat-card-content>

 </mat-card>
 

<!-- DEBUG -->
<!--  {{userService.user | json}} -->
<!--
<p>
  username value: {{ loginForm.controls.usernameField.value }} <br>
  password value: {{ loginForm.controls.passwordField.value }} <br>
  Form Status: {{ loginForm.status }}
</p>
-->